<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.extra.demo.mapper.SCMapper">

    <select id="com.extra.demo.mapper.SCMapper.selectCourseIdListByStudentId" resultType="java.lang.String">
        select course_id
        FROM sc
        where student_id = #{studentId}
    </select>
</mapper>